/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); */

.topic{
  color: white;
}

.topic::selection {
  background-color: #5c848c; 
  color: white;
}

.topicHighlighted{
  color: #4fb777;
}

.topicHighlighted::selection {
  background-color: #5c848c; 
  color: #4fb777;
}

.content{
  font-size: 18px;
  color: #9E9E9E;
}

.content::selection {
  background-color: #5c848c; 
  color: white;
}


.whatIsGeekZone{
  background-color: #0b160d;
  background-image: url("/Images/background.png");
  background-attachment: fixed;
}

